<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/ante_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,332},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>ui/arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,961},{49,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>ui/arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,969},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>ui/award_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{89,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,250}}</string>
                <key>sourceSize</key>
                <string>{89,250}</string>
            </dict>
            <key>ui/bet_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,93},{40,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{40,386}}</string>
                <key>sourceSize</key>
                <string>{58,406}</string>
            </dict>
            <key>ui/bet_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{667,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{667,404}}</string>
                <key>sourceSize</key>
                <string>{669,406}</string>
            </dict>
            <key>ui/checkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,266},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>ui/checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ui/chipin_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{667,404}}</string>
                <key>sourceSize</key>
                <string>{669,406}</string>
            </dict>
            <key>ui/coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,332},{129,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,61}}</string>
                <key>sourceSize</key>
                <string>{129,63}</string>
            </dict>
            <key>ui/coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{99,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,120}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>ui/coin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,367},{35,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,126}}</string>
                <key>sourceSize</key>
                <string>{35,126}</string>
            </dict>
            <key>ui/coin_pocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,336},{143,181}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{143,181}}</string>
                <key>sourceSize</key>
                <string>{143,213}</string>
            </dict>
            <key>ui/coinpool_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,851},{54,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,108}}</string>
                <key>sourceSize</key>
                <string>{54,108}</string>
            </dict>
            <key>ui/dish.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,139},{195,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{195,197}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>ui/dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,358},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>ui/dot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,336},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ui/light_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,297},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui/light_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,186},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui/light_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,155},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui/light_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,124},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui/light_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,266},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui/loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,93},{208,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{208,44}}</string>
                <key>sourceSize</key>
                <string>{218,50}</string>
            </dict>
            <key>ui/lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,195},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>ui/roller_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,463},{57,386}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{57,386}}</string>
                <key>sourceSize</key>
                <string>{73,406}</string>
            </dict>
            <key>ui/star_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,566},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>ui/star_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,532},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>ui/wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,495},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ui/win.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,124},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>ui/wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{101,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{101,116}}</string>
                <key>sourceSize</key>
                <string>{103,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a9f3ae88520d6ece762d658810e3817:1/1$</string>
            <key>textureFileName</key>
            <string>ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
