<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui2/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,464},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,528},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/bg_bottom_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,223},{190,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,90}</string>
			</dict>
			<key>ui2/bg_coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1},{131,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,37}</string>
			</dict>
			<key>ui2/bg_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,529},{191,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,99}</string>
			</dict>
			<key>ui2/bg_nickname.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,134},{131,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,37}</string>
			</dict>
			<key>ui2/chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,592},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/chat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,743},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/farmer1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{239,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,276}</string>
			</dict>
			<key>ui2/farmer2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,660},{180,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,241}</string>
			</dict>
			<key>ui2/lord1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{239,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,276}</string>
			</dict>
			<key>ui2/lord2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,464},{180,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,241}</string>
			</dict>
			<key>ui2/mat0.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,903},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui2/mat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,903},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui2/mat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,641},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui2/robot.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,779},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/robot1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,807},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,779},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/settings1.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,843},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>ui2/btn_b_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,415},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>
			<key>ui2/btn_b_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,597},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>
			<key>ui2/btn_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,722},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>
			<key>ui2/btn_g_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,787},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>
			<key>ui2/btn_g_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,903},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>
			<key>ui2/farmer_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1},{260,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,100}</string>
			</dict>
			<key>ui2/farmer_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,263},{260,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,100}</string>
			</dict>
			<key>ui2/farmer3.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,223},{222,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,207}</string>
			</dict>
			<key>ui2/farmer4.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,242},{222,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,207}</string>
			</dict>
			<key>ui2/lord_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,267},{260,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,100}</string>
			</dict>
			<key>ui2/lord_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,525},{260,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,100}</string>
			</dict>
			<key>ui2/lord3.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,432},{222,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,207}</string>
			</dict>
			<key>ui2/lord4.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,451},{222,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,207}</string>
			</dict>
			<key>ui2/qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,904},{144,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,112}</string>
			</dict>
			<key>ui2/tasks.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{600,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui2.png</string>
			<key>realTextureFileName</key>
			<string>ui2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>