<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card/b_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,0},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>card/b_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>card/b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,50},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>card/b_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,51},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>card/b_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/b_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/card_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,0},{82,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,101}</string>
			</dict>
			<key>card/l_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,102},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>card/l_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,121},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>card/l_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,108},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>card/l_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,108},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>card/r_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,262},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,82},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,82},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,82},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,100},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,100},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/r_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,102},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>card/t_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,131},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,0},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,131},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,131},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,131},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,131},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,0},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,131},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
			<key>card/t_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,131},{131,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{720,290}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>720</integer>
			<key>height</key>
			<integer>290</integer>
		</dict>
	</dict>
</plist>