<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>grabBanker/alarm_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,159},{94,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,105}</string>
			</dict>
			<key>grabBanker/alpha_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,64}</string>
			</dict>
			<key>grabBanker/banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,127},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>grabBanker/bave_niu.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,57},{199,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,102}</string>
			</dict>
			<key>grabBanker/btn_have.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,127},{199,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,102}</string>
			</dict>
			<key>grabBanker/btn_not.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,57},{199,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,102}</string>
			</dict>
			<key>grabBanker/chat_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,525},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,64}</string>
			</dict>
			<key>grabBanker/coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,31},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>grabBanker/dont_grab.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,326},{199,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,102}</string>
			</dict>
			<key>grabBanker/drop_down_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,262},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,64}</string>
			</dict>
			<key>grabBanker/floor_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,0},{367,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{367,57}</string>
			</dict>
			<key>grabBanker/gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,353},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>grabBanker/gift_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,459},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>grabBanker/grab.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,198},{199,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,102}</string>
			</dict>
			<key>grabBanker/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,159},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>grabBanker/multiple.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,183},{170,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,102}</string>
			</dict>
			<key>grabBanker/not_niu.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,397},{199,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,102}</string>
			</dict>
			<key>grabBanker/num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,262},{58,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,47}</string>
			</dict>
			<key>grabBanker/personal_information.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>grabBanker/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,159},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>grabBanker/red_packet.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,499},{97,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,131}</string>
			</dict>
			<key>grabBanker/robot.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,499},{104,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,97}</string>
			</dict>
			<key>grabBanker/rqual.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,159},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>grabBanker/bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{188,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,127}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>grabBanker.png</string>
			<key>realTextureFileName</key>
			<string>grabBanker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>