<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pokers/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,153},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,50},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,78},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,106},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,153},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,50},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,78},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,106},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,134},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,162},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,28},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/floret1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>pokers/floret2.png</key>
			<dict>
				<key>frame</key>
				<string>{{19,181},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>pokers/floret3.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,181},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>pokers/floret4.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,134},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>pokers/flower1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>pokers/flower2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>pokers/flower3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>pokers/flower4.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>pokers/r1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,0},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r10.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,54},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r11.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,82},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r12.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,110},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r13.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,54},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,28},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r3.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,0},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r4.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,82},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r5.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,138},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r6.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,166},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r7.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,110},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r8.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,54},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>pokers/r9.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,28},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pokers.png</string>
			<key>realTextureFileName</key>
			<string>pokers.png</string>
			<key>size</key>
			<string>{256,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>