<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Text/blinding.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/findBackCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/loing.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,186},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/modify.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,234},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/modifyCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/perinfor.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/record.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/register.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/seting.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,186},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,234},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/soluphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,0},{186,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,48}</string>
			</dict>
			<key>Text/mysafeBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{233,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,49}</string>
			</dict>
			<key>Text/safeBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{140,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>text.png</string>
			<key>realTextureFileName</key>
			<string>text.png</string>
			<key>size</key>
			<string>{558,282}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>558</integer>
			<key>height</key>
			<integer>282</integer>
		</dict>
	</dict>
</plist>